[run]
relative_files = True
branch = True
source = src
omit =
    */tests/*
    */__init__.py

[report]
show_missing = true
skip_covered = false
exclude_lines =
    if __name__ == .__main__.:


[html]
directory = reports/htmlcov
